<?xml version="1.0"?>
<Descr>Define nodes with capital letter, but attributes with small letter.</Descr>
<Engine>
	<WindowParam fullCreen="false">
		<Size width="1200" height="800" />
	</WindowParam>
	<Paths>
		<models path="../../DebugData/Models/" />
		<textures path="../../DebugData/Textures/" />
	</Paths>
</Engine>

<Descr>
Ideas
auto graphicsSettings = EngineSettings::getInstance().getGraphicsSettings();
EngineSettings::getInstance().setGraphicsSettings(SGraphicsSettingsConstrInfo);


EngineSettings::getInstance().saveSettings();

enum class EEngineInitResult {
	
}


setGraphicsSettings(ConstrInfo) {}
main() 
{
	//Initialise Logger
	//Initialise Settings
	auto result = EngineSettings::getInstance().getSettingLoadResult();
	if result ok ...
	..
	setGraphics to the engine ..
	
	.
	Engine* engInstance = &amp;Namespace::Engine::getInstance();
	
	RenderInterface* graphics = new OpenGLGraphics();
	PhysicsWorldInterface* physicsWorld = new BulletPhysicsWorld();
	
	engInstance-&gt;setGraphics(graphics);
	engInstance-&gt;setPhysicsWorld(physicsWorld);
	
	auto result = engInstance-&gt;initialise();
	
	if (result == Engine::STATUS_OK) {
		while {
			engInstance-&gt;update();
		} (!exit)
	}
		
	engInstance-&gt;shutDown();
	
	
	//error auido (in shut down method)
	if(Graphics-&gt;IsInit())
		Graphics-&gt;Shutdown();
}
</Descr>
