

<Engine>
	<WindowParam>
		<Size fullCreen="false" width="1200" height="800"/>
	</WindowParam>
	
	<Paths>
		<models path="../../DebugData/Models/"/>
		<textures path="../../DebugData/Textures/"/>
	</Paths>
	
	<Graphics>
		
	</Graphics>
	
</Engine>



<!--
Ideas
auto graphicsSettings = EngineSettings::getInstance().getGraphicsSettings();
EngineSettings::getInstance().setGraphicsSettings(SGraphicsSettingsConstrInfo);


EngineSettings::getInstance().saveSettings();

enum class EEngineInitResult {
	
}


setGraphicsSettings(ConstrInfo) {}
main() 
{
	//Initialise Logger
	//Initialise Settings
	auto result = EngineSettings::getInstance().getSettingLoadResult();
	if result ok ...
	..
	setGraphics to the engine ..
	
	.
	Engine* engInstance = &Namespace::Engine::getInstance();
	
	RenderInterface* graphics = new OpenGLGraphics();
	PhysicsWorldInterface* physicsWorld = new BulletPhysicsWorld();
	
	engInstance->setGraphics(graphics);
	engInstance->setPhysicsWorld(physicsWorld);
	
	auto result = engInstance->initialise();
	
	if (result == Engine::STATUS_OK) {
		while {
			engInstance->update();
		} (!exit)
	}
		
	engInstance->shutDown();
	
	
	//error auido (in shut down method)
	if(Graphics->IsInit())
		Graphics->Shutdown();
	
	
}
-->

